@import url(https://fonts.googleapis.com/css?family=Oswald);

#games
{
	font-family: 'Oswald', sans-serif;
	border-bottom: 1px solid black;
	height: 130px;
	vertical-align: middle;
	text-align: center;

	.gameplate
	{
		border: 1px solid gray;
		display: inline-block;
		width: 120px;
		text-align: center;
		margin: 5px 3px;
		color: #222222;
		text-decoration: none;

		&:hover
		{
			margin: 0 3px;
			background-color: red;
		}

		h3
		{
			margin-top:10px;
			margin-bottom: -10px;
			.at
			{
				font-size: 12px;
				color: #999999;
			}
		}

		p
		{
			margin-top:5px;
			margin-bottom: -5px;
			font-size: 14px;
		}

		&--padding
		{
			height: 20px;
		}
/* 
		.awaylogo{
			width: 60px;
			height: 60px;
			display: inline-block;
			position: relative;
			margin-top: -80px;
			z-index: -1;
		}
		.homelogo{
			width: 60px;
			height: 60px;
			display: inline-block;
			float: right;
			position: relative;
			margin-top: -41px;
			z-index: -1;
		} */
	}
}