@mixin scrollButton_Style()
{
	height: 130px;
	position:fixed;
	width: 30px;
	background-color: gray;
	opacity: 0.4;
	cursor: pointer;
	-webkit-transition: opacity 0.2s;
	text-align: center;
	-webkit-user-select: none;

	span
	{
		color: white;
		margin-top: 45px;
		display: inline-block;
	}

	&:hover
	{
		opacity: 0.8;
	}
}

#games
{
	font-family: 'Oswald', sans-serif;
	border-bottom: 1px solid black;
	height: 130px;
	background-color: #666;
    
	#gameplate-wrapper
	{
		white-space: nowrap;
		overflow-x: hidden;
		margin-left: 30px;

		.gameplate
		{
			border: 1px solid gray;
			display: inline-block;
			width: 120px;
			text-align: center;
			margin: 5px 3px;
			color: #222222;
			text-decoration: none;
			white-space: normal;			
			-webkit-user-select: none;
			background-color: #eee;
			-webkit-transition: background-color 0.2s, border 0.2s, border-radius 0.2s;

			&:hover
			{
				margin: 0 3px;
				background-color: #d46;
				border: 1px solid #d46;
			}

			h3
			{
				margin-top:10px;
				margin-bottom: -10px;
				.at
				{
					font-size: 12px;
					color: #999999;
				}
			}

			p
			{
				margin-top:5px;
				margin-bottom: -5px;
				font-size: 14px;
			}

			&--padding
			{
				height: 20px;
			}
		}
	}

	&--scroll
	{
		&-right
		{
			@include scrollButton_Style();
			right: 0;
		}
		&-left
		{
			@include scrollButton_Style();
			left: 0;

			
		}
	}
}